@font-face {
  src: url(../fonts/GraphikLCG-Bold.otf);
  font-family: GraphikLCG-Bold; }
@font-face {
  src: url(../fonts/GraphikLCG-Medium.otf);
  font-family: GraphikLCG-Medium; }
@font-face {
  src: url(../fonts/GraphikLCG-Regular.otf);
  font-family: GraphikLCG-Regular; }
* {
  box-sizing: border-box;
  background-repeat: no-repeat; }

a {
  color: inherit; }

.hidden {
  opacity: 0;
  cursor: default; }

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  transition: .7s ease-in-out;
  z-index: -1; }

.logos {
  position: fixed;
  right: 0;
  height: 100vh;
  width: calc(100vh * 0.391041162);
  background-image: url(../img/shape.svg);
  background-position: right;
  background-size: cover;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 0; }
  .logos .dosugLogo a {
    display: block;
    background-image: url(../img/dosug-logo.png);
    background-size: contain;
    width: 134px;
    height: 33px;
    transition: .1s ease-in-out; }
    .logos .dosugLogo a:hover {
      transform: scale(1.05); }
  .logos .acuvueLogo {
    width: 177px;
    font-family: GraphikLCG-Regular;
    font-size: 10px;
    color: #01468C;
    letter-spacing: 0.7px;
    line-height: 25px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
    .logos .acuvueLogo a {
      display: block;
      background-image: url(../img/acuvue-logo.png);
      background-size: contain;
      width: 177px;
      height: 31px;
      transition: .1s ease-in-out; }
      .logos .acuvueLogo a:hover {
        transform: scale(1.05); }

.contentWrapperFrame {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9; }
  .contentWrapperFrame .contentWrapper {
    transition: .5s ease-in-out; }
    .contentWrapperFrame .contentWrapper .page0 {
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center; }
      .contentWrapperFrame .contentWrapper .page0 .frame {
        position: relative;
        width: 507px;
        height: 507px;
        border: 3px solid #01468C;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contentWrapperFrame .contentWrapper .page0 .frame .text {
          margin-top: 50px; }
          .contentWrapperFrame .contentWrapper .page0 .frame .text h2 {
            font-family: GraphikLCG-Regular;
            font-size: 24px;
            color: #01468C;
            letter-spacing: 0.8px;
            line-height: 40px;
            text-transform: uppercase;
            text-align: center; }
          .contentWrapperFrame .contentWrapper .page0 .frame .text h3 {
            font-family: GraphikLCG-Bold;
            font-size: 40px;
            color: #01468C;
            letter-spacing: 0.8px;
            line-height: 50px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px; }
          .contentWrapperFrame .contentWrapper .page0 .frame .text p {
            font-family: GraphikLCG-Regular;
            font-size: 16px;
            color: #01468C;
            letter-spacing: 0.3px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 50px; }
          .contentWrapperFrame .contentWrapper .page0 .frame .text div {
            font-family: GraphikLCG-Medium;
            font-size: 15px;
            color: #01468C;
            letter-spacing: 0.7px;
            line-height: 20px;
            width: 100%;
            text-align: center;
            cursor: pointer; }
            .contentWrapperFrame .contentWrapper .page0 .frame .text div:hover {
              text-decoration: underline; }
    .contentWrapperFrame .contentWrapper .page {
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9; }
      .contentWrapperFrame .contentWrapper .page .testWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start; }
        .contentWrapperFrame .contentWrapper .page .testWrapper .textText {
          width: 470px;
          margin-right: 50px; }
          .contentWrapperFrame .contentWrapper .page .testWrapper .textText h2 {
            font-family: GraphikLCG-Regular;
            font-size: 55px;
            color: #01468B;
            letter-spacing: 1.15px;
            line-height: 59px;
            margin-bottom: 20px; }
          .contentWrapperFrame .contentWrapper .page .testWrapper .textText p {
            font-family: GraphikLCG-Regular;
            font-size: 16px;
            color: #01468B;
            letter-spacing: 0.33px;
            line-height: 24px;
            margin-bottom: 20px; }
          .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl {
            list-style: none;
            margin: 20px 0 30px 0;
            padding: 0;
            overflow: auto; }
            .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl li {
              display: block;
              position: relative;
              float: left;
              width: 100%;
              height: 40px; }
              .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl li input[type=radio] {
                position: absolute;
                visibility: hidden; }
              .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl li label {
                display: block;
                position: relative;
                font-family: GraphikLCG-Medium;
                font-size: 20px;
                line-height: 45px;
                color: #01468B;
                padding: 0 25px 0 35px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear; }
              .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl li .check {
                display: block;
                position: absolute;
                border: 2px solid #01468B;
                border-radius: 100%;
                margin-top: 10px;
                height: 20px;
                width: 20px;
                z-index: 5;
                transition: border .25s linear;
                -webkit-transition: border .25s linear; }
              .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl li:hover .check {
                border: 5px solid #01468B; }
            .contentWrapperFrame .contentWrapper .page .testWrapper .textText .formUl input[type=radio]:checked ~ .check {
              border: 10px solid #01468B; }
          .contentWrapperFrame .contentWrapper .page .testWrapper .textText div, .contentWrapperFrame .contentWrapper .page .testWrapper .textText button {
            font-family: GraphikLCG-Medium;
            font-size: 15px;
            color: #01468B;
            letter-spacing: 0.71px;
            line-height: 20px;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            padding: 0;
            cursor: pointer; }
            .contentWrapperFrame .contentWrapper .page .testWrapper .textText div:focus, .contentWrapperFrame .contentWrapper .page .testWrapper .textText button:focus {
              outline: none !important; }
            .contentWrapperFrame .contentWrapper .page .testWrapper .textText div:hover, .contentWrapperFrame .contentWrapper .page .testWrapper .textText button:hover {
              text-decoration: underline; }
        .contentWrapperFrame .contentWrapper .page .testWrapper .testImage {
          width: 500px;
          height: auto; }

.qimg1 {
  width: 500px;
  height: 333px;
  background-image: url(../img/question1.png);
  background-size: cover;
  z-index: 99; }
  .qimg1 .selectCircles {
    position: absolute;
    width: 312px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .qimg1 .selectCircles .selectCircle {
      opacity: 0;
      position: relative;
      width: 35px;
      height: 35px;
      border: 2px solid #ffffff;
      border-radius: 100%; }
  .qimg1 #sc1 {
    margin-left: 122px;
    margin-top: 122px; }
  .qimg1 #sc2 {
    margin-left: 185px;
    margin-top: 190px; }
  .qimg1 #sc3 {
    margin-left: 2px;
    margin-top: 70px; }
  .qimg1 #sc4 {
    margin-left: 81px;
    margin-top: 85px; }
  .qimg1 #sc5 {
    margin-left: 88px;
    margin-top: 230px; }

.qimg3 {
  width: 500px;
  height: 333px;
  background-image: url(../img/question3.png);
  background-size: contain;
  z-index: 99; }
  .qimg3 .selectCircle3 {
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid #000000;
    border-radius: 100%; }
  .qimg3 #sc_31 {
    margin-left: 275px;
    margin-top: 71px; }
  .qimg3 #sc_32 {
    margin-left: 84px;
    margin-top: 141px; }

.qimg8 {
  width: 500px;
  height: 333px;
  background-image: url(../img/question8.png);
  background-size: cover;
  z-index: 99; }
  .qimg8 .selectCircles {
    position: absolute;
    width: 312px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .qimg8 .selectCircles .selectCircle {
      opacity: 0;
      position: relative;
      width: 35px;
      height: 35px;
      border: 2px solid #ffffff;
      border-radius: 100%; }
  .qimg8 #sc_81 {
    margin-left: 41px;
    margin-top: 90px; }
  .qimg8 #sc_82 {
    margin-left: 192px;
    margin-top: 113px; }
  .qimg8 #sc_83 {
    margin-left: 30px;
    margin-top: 157px; }
  .qimg8 #sc_84 {
    margin-left: 66px;
    margin-top: 135px; }
  .qimg8 #sc_85 {
    margin-left: 6px;
    margin-top: 295px; }

.qimg7 {
  width: 500px;
  height: 333px;
  background-image: url(../img/question7.png);
  background-size: contain;
  z-index: 99; }
  .qimg7 .selectCircle7 {
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 100%; }
  .qimg7 #sc_71 {
    margin-left: 320px;
    margin-top: 169px; }

.lastpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .lastpage .results {
    font-family: GraphikLCG-Regular;
    font-size: 55px;
    color: #01468B;
    letter-spacing: 1.15px;
    line-height: 59px;
    margin-bottom: 20px; }
  .lastpage p {
    width: 486px;
    font-family: GraphikLCG-Regular;
    font-size: 16px;
    color: #01468B;
    letter-spacing: 0.33px;
    line-height: 24px;
    margin-bottom: 10px; }
  .lastpage img {
    width: 400px;
    height: auto;
    margin: 20px 43px; }
  .lastpage .greenbutton {
    display: block;
    width: 280px;
    height: 48px;
    margin: auto;
    margin-top: 50px;
    background: #01468C;
    border-radius: 5px;
    cursor: pointer;
    font-family: GraphikLCG-Medium;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.7px;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
    transition: .2s ease-in; }
    .lastpage .greenbutton:hover {
      -webkit-box-shadow: 0 1px 8px 0 #A6A6A6;
      box-shadow: 0 1px 8px 0 #CCCCCC;
      text-decoration: underline; }
  .lastpage .back {
    font-family: GraphikLCG-Regular;
    font-size: 10px;
    color: #01468B;
    opacity: .7;
    letter-spacing: 0.33px;
    line-height: 24px;
    text-align: center;
    margin-right: 10px; }

#sc11, #sc12, #sc_811, #sc_812 {
  animation: pulse 1s infinite;
  opacity: .6;
  cursor: pointer; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8); }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
.socialWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; }

.social-likes__widget {
  border: 0px !important; }

@media (max-width: 1280px) {
  .logos {
    padding: 30px 24px; } }
@media (max-width: 1024px) {
  .testWrapper {
    transform: scale(0.8); } }
@media (max-width: 768px) {
  .contentWrapperFrame .contentWrapper .page .testWrapper {
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    .contentWrapperFrame .contentWrapper .page .testWrapper .textText {
      margin-bottom: 50px; }

  .logos {
    right: -90px;
    padding: 30px 110px; }
    .logos .dosugLogo a {
      width: 100px; }
    .logos .acuvueLogo a {
      width: 110px; } }
@media (max-width: 668px) and (min-width: 666px) {
  .contentWrapperFrame .contentWrapper .page .testWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    transform: scale(0.45); }

  .page0 .frame {
    min-width: 507px;
    transform: scale(0.45); }

  .lastpage .text {
    transform: scale(0.45); } }
@media (max-device-width: 414px) {
  .page0 .frame {
    min-width: 507px;
    transform: scale(0.65); }

  .contentWrapperFrame .contentWrapper .page .testWrapper {
    transform: scale(0.65); }

  .lastpage .text {
    transform: scale(0.65); }

  .logos {
    right: -110px;
    padding: 16px 120px; }
    .logos .dosugLogo a {
      width: 70px;
      height: 18px; }
    .logos .acuvueLogo {
      font-size: 6px;
      line-height: 16px; }
      .logos .acuvueLogo a {
        width: 75px;
        height: 14px; }

  .lastpage .greenbutton {
    width: 430px;
    height: 58px;
    font-size: 25px;
    line-height: 58px; }

  .socialWrapper {
    margin-top: 35px;
    transform: scale(1.4); } }
@media (max-device-width: 320px) {
  .page0 .frame {
    min-width: 507px;
    transform: scale(0.5); }

  .contentWrapperFrame .contentWrapper .page .testWrapper {
    transform: scale(0.5); }

  .lastpage .text {
    transform: scale(0.5); }

  .logos {
    right: -80px;
    padding: 16px 85px; }
    .logos .dosugLogo a {
      width: 70px;
      height: 18px; }
    .logos .acuvueLogo {
      font-size: 6px;
      line-height: 16px; }
      .logos .acuvueLogo a {
        width: 75px;
        height: 14px; } }

/*# sourceMappingURL=master.css.map */
